# Configuración MQTT
MQTT_BROKER_URL=mqtt://
MQTT_TOPIC=tanque/nivel
# Umbrales
UMBRAL_CRITICO=
# Credenciales de Email
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_password_de_aplicacion_gmail
EMAIL_TO=destinatario@gmail.com
